@{
    ViewData["Title"] = "Visits";
}

@model Smart_Garage.Models.PaginatedList<VisitViewModel>

<h2 class="heading">Visits</h2>

<a asp-controller="Admin_Visits" asp-action="SearchByLicensePlate" style="margin-bottom:20px; margin-left:30px" class="btn btn-primary">Add Visit</a>
<a asp-controller="Admin_Visits" asp-action="CreateVisitForNewCustomer" style="margin-bottom:20px; margin-left:30px" class="btn btn-primary">Add Visit For New Customer</a>

<form asp-controller="Admin_Visits" asp-action="Index" method="post">
    <div class="row" style="margin-left: 17px; margin-bottom:2%">

        <div class="col-md-2">
            <label style="margin-right:10px;">Filter By:</label>
            <select id="searchOption" name="searchOption" style="margin-right:10px; max-width:200px;" class="form-control">
                <option value="Username">Username</option>
                <option value="LicensePlate">License Plate</option>
                <option value="VehicleBrand">Vehicle's Brand</option>
                <option value="VehicleModel">Vehicle's Model</option>
            </select>
        </div>

        <div class="col-md-2" style="margin-top:24px;">
            <input type="text" id="searchString" name="searchString" class="form-control" placeholder="Search...">
        </div>

        <div class="col-md-2">
            <!-- Use form-inline to align elements horizontally -->
            <label for="startDate" style="margin-right:10px;">Start Date:</label>
            <input type="date" id="startDate" name="startDate" class="form-control" style="margin-right:10px; max-width: 200px;">
        </div>

        <div class="col-md-2">
            <label for="endDate" style="margin-right:10px;">End Date:</label>
            <input type="date" id="endDate" name="endDate" class="form-control" style="max-width: 200px;">
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" style="margin-top:24px;">Filter</button>
        </div>

    </div>
</form>

<table class="table myTable" id="resizeMe">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">License Plate</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Owner</th>
            <th scope="col">Date</th>
            <th scope="col">Total Price</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var visit in Model)
        {
            <tr>
                <td>@visit.Id</td>
                <td>@visit.Vehicle.LicensePlate</td>
                <td>@visit.Vehicle.Brand</td>
                <td>@visit.Vehicle.Model</td>
                <td>@visit.User.FirstName @visit.User.LastName</td>
                @* <td>@visit.Vehicle.User.LastName</td> *@
                <td>@visit.Date.ToString("dd.MM.yyyy")</td>
                <td>@visit.TotalPrice</td>
                <td>
                    <a asp-controller="Admin_Visits" asp-action="Detail" asp-route-id="@visit.Id" class="btn btn-primary">
                        <span class="material-symbols-outlined">
                            description
                        </span>
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>

@{
    string previousButtonState = (Model.HasPreviousPage) ? "" : "disabled";
    string nextButtonState = (Model.HasNextPage) ? "" : "disabled";
}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <li class="page-item @previousButtonState">
            <a class="page-link" asp-controller="Admin_Visits" asp-action="Index" asp-route-PageNumber="@(Model.PageNumber - 1)">Previous</a>
        </li>

        @if (Model.TotalPages > 10)
        {
            @if (Model.PageNumber > 6)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Admin_Visits" asp-action="Index" asp-route-PageNumber="1">1</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
            }

            @for (int i = Math.Max(1, Model.PageNumber - 4); i <= Math.Min(Model.TotalPages, Model.PageNumber + 5); i++)
            {
                if (i == Model.PageNumber)
                {
                    <li class="page-item">
                        <a class="page-link active" aria-current="page" asp-controller="Admin_Visits" asp-action="Index" asp-route-PageNumber="@i">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Admin_Visits" asp-action="Index" asp-route-PageNumber="@i">@i</a>
                    </li>
                }
            }

            @if (Model.PageNumber < Model.TotalPages - 5)
            {
                <li class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Admin_Visits" asp-action="Index" asp-route-PageNumber="@Model.TotalPages">@Model.TotalPages</a>
                </li>
            }
        }
        else
        {
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.PageNumber)
                {
                    <li class="page-item">
                        <a class="page-link active" aria-current="page" asp-controller="Admin_Visits" asp-action="Index" asp-route-PageNumber="@i">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Admin_Visits" asp-action="Index" asp-route-PageNumber="@i">@i</a>
                    </li>
                }
            }
        }

        <li class="page-item @nextButtonState">
            <a class="page-link" asp-controller="Admin_Visits" asp-action="Index" asp-route-PageNumber="@(Model.PageNumber + 1)">Next</a>
        </li>
    </ul>
</nav>



