@{
    ViewData["Title"] = "Customers";
    string customerId = "";
}

@model IList<CustomerViewModel>

<h2 class="heading">Customers</h2>

<a asp-controller="Admin_Customers" asp-action="SignUp" style="margin-bottom:20px; margin-left:30px" class="btn btn-primary">Add Customer</a>

@* table-striped *@
<table class="table myTable" id="resizeMe">
    <thead>
        <tr>
            <th scope="col" style="width: 5%">Id</th>
            <th scope="col" style="width: 15%;">Username</th>
            <th scope="col" style="width: 15%;">First Name</th>
            <th scope="col" style="width: 130px;">Last Name</th>
            <th scope="col" style="width: 170px;">Email</th>
            <th scope="col" style="width: 170px;">Phone Number</th>
            <th scope="col" style="width: 170px;">Details</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Username</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Email</td>
                <td>@customer.PhoneNumber</td>
                <td>
                    <form asp-controller="Admin_Customers" asp-action="ShowDetail" method="post">
                        <input asp-for="@customerId" type="hidden" name="customerId" value="@customer.Id">
                        <button type="submit" class="btn btn-primary" style="font-size: 0px;">
                            <span class="material-symbols-outlined">
                                description
                            </span>
                        </button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Admin_Customers" asp-action="GeneratePdf">
    PDF
</a>